<!-- BEGIN sub_page_div -->
<div id='{SUBPAGE_DIV_ID}' class='xcwi-template-selection__subpage' {HIDDEN}>
    <!-- BEGIN radio_option -->
    <div class='option crs_tmp_option'>
        <div>
            <input value='{OBJ_REF_ID}' style='margin-right: 5em; vertical-align: middle' hidden class='' type='radio' name='card' id={RADIO_OPTION_ID} onclick='il.CourseWizardFunctions.switchSelectedTemplate(this)'/>
        </div>
        <div>
            <label for='{RADIO_OPTION_ID}'>
                <span></span>

                {RENDERED_ITEM}

            </label>
        </div>
    </div>
    <!-- END radio_option -->

    <!-- BEGIN empty_subpage -->
    <div class="xcwi-template-selection__no-tpl"><em>{EMPTY_PAGE_TEXT}</em></div>
    <!-- END empty_subpage -->
</div>
<!-- END sub_page_div -->