.crs_tmp_option {
	margin-top: 1em;
	border:2px dashed #98c1f5;
}

.crs_tmp_checked {
	border:2px solid #338af9;
}

.xcwi_modal_navigation_container {
	overflw-y: hidden;
	width: 100%;
	padding: 0;
	display: flex;
	min-height: 2em;
}

.xcwi_modal_navigation_step {
	display: flex;
	justify-content: center;
	align-content: center;
	height: auto;
	vertical-align: middle;
	margin: 0 5px;
	text-align: center;
	border: 2px #0b58a2 dotted;
	font-size: 10px;
	align-items: center;
}

.xcwi_modal_navigation_step::after {
	content: "\276D";
	display: inline;
	position: relative;
	left: 2px;
}

.xcwi_modal_navigation_step.active {
	font-weight: bold;
	border: 3px #0b3e6f solid;
}

.xcwi_loading_container {
}

.xcwi_modal_checkbox_div {
	text-align: center;
}

.xcwi_modal_checkbox_label {
	margin-right: 1em;
	font-family: italic, serif;
}

.xcwi_modal_no_tpl {
	padding: 0.5em 2em;
	font-family: italic, serif;
}

#xcwi_template_selection_div_id {
	margin-top: 1em;
	margin-bottom: 2em;
}

.xcwi_loading_title_container {
}

.xcwi_loading_title {

}

.xcwi_wizard_loading_step {
	padding-bottom: 1em;
	padding-left: 2em;
	font-family: italic, serif;
}

li.xcwi_import_list {
}

li.xcwi_loading {
	list-style-image: url("../../../../../../../../../templates/default/images/loader.svg");
}

li.xcwi_success {
	list-style-image: url("../../../../../../../../../templates/default/images/icon_ok.svg");
}

li.xcwi_failure {
	list-style-image: url("../../../../../../../../../templates/default/images/icon_not_ok.svg");
}

input.xcwi-template-selection__filter-input {
	margin-top: 0.3em;
}

div.xcwi-template-selection__filter-input-help {
	font-size: 90%;
	margin-left: 1em;
	margin-top: 0;
}